---
Checks:          '*,-android-*,-fuchsia-*,-google-*,-hicpp-*,-zircon-*,-abseil-*,-llvm-*,-cert-oop54-cpp,-clang-diagnostic-c++17-extensions,-bugprone-exception-escape,-bugprone-branch-clone,-cppcoreguidelines-*,-modernize-use-trailing-return-type,-misc-non-private-member-variables-in-classes,-readability-magic-numbers,-cppcoreguidelines-pro-bounds-pointer-arithmetic'
WarningsAsErrors: '-*'